<ion-header>
    <ion-navbar>
        <ion-title>查看停车记录</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="noParkingRecord;else parkingRecord">
        <h3> 暂无停车记录</h3>
    </div>
    <ng-template #parkingRecord>
        <ion-list>
            <ion-item *ngFor="let item of apidata">
                <ion-row>
                    <ion-col>
                        {{item.enterTime}}
                    </ion-col>
                    <ion-col>
                        {{item.leaveTime}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{item.parkingLot}}
                    </ion-col>
                    <ion-col>
                        停车费：{{item.parkingFee}}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>