<ion-header>
  <ion-navbar>
    <ion-title>倚泊</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button ion-button block (click)="getFileData()">请求照片</button>
  <page-select-picture [max]="6" [(fileObjList)]="fileObjList"></page-select-picture>
  <button ion-button block (click)="alipays()">测试支付宝支付</button> -->
  <div class="index-page">
    <ion-slides #Slider loop="true" autoplay="3000" *ngIf="slideinfos.length > 1">
      <ion-slide *ngFor="let slide of slideinfos">
        <img [src]="slide.image" class="slide-image" />
        <!-- <h2 class="slide-title" [innerHTML]="slide.title"></h2> -->
      </ion-slide>
    </ion-slides>
    <hr>
    <!-- <button ion-button round full icon-right (click)="goToParkingLot()">进入智能停车
    <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </button> -->

    <h3>附近<span class="blue">{{nearbyParkingLotsNum}}</span>个停车场</h3>
    <p>{{address}}</p>
  </div>
  <hr>
  <div id="nearByParkingLot">
  </div>
  <!-- <div id="functionPanel" class="classification">
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/vip64.png" />
      </div>
      <p>VIP停车</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/key64.png" />
      </div>
      <p>代驾</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/car-repair64.png" />
      </div>
      <p>汽车维修</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/trailer64.png" />
      </div>
      <p>道路救援</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/car-wash64.png" />
      </div>
      <p>洗车</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/gas-station64.png" />
      </div>
      <p>加油</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/diagnostic64.png" />
      </div>
      <p>汽车装饰</p>
    </div>
    <div class="cbox">
      <div class="icon">
        <img src="./assets/img/book.png" />
      </div>
      <p>用车百科</p>
    </div>
  </div> -->
  <!-- <ion-card>
    <ion-card-content>
      推荐
    </ion-card-content>
  </ion-card> -->
  <hr>
  <h4 style="text-align: center;font-size:11pt">推荐</h4>
  <div *ngIf="noNearbyParkingLot;else recommendParkingLots">
    <h3 style="text-align:center">暂无推荐车位</h3>
  </div>
  <ng-template #recommendParkingLots>
    <ion-card>
      <ion-item padding>
        <p></p>
        <h2>{{recommendParkingLot?.address}}</h2>
        <p>{{recommendParkingLot?.name}}</p>
        <p>空闲车位：未知</p>
      </ion-item>
      <ion-item>
        <span item-left>{{recommendParkingLot?.distance}}米</span>
        <button ion-button icon-left clear item-end (click)="mapNavigation(1,recommendParkingLot?.location.lng,recommendParkingLot?.location.lat)">
      <ion-icon name="navigate">去这里</ion-icon>
    </button>
      </ion-item>
    </ion-card>
  </ng-template>
  <ion-item text-center>
    <button ion-button outline id="searchNearbyParkingLot" (click)="goToParkingLot()">查看附近停车场
    </button>
  </ion-item>
</ion-content>