page-navigation-modal {
  .searchbar-ios-cancel {
    color: #fff;
  }
  .address {
    background-color: #1c9e43;
    color: #fff;
    font-size: 12px;
    padding: 1px;
    margin-right: 3px;
  }

  .align-center{
    text-align: center;
  }

  .amap-call{
    display: none;
  }
}
